@font-face {
    font-family: 'Tiro Telugu';
    src: url("../assets/fonts/TiroTelugu-Regular.ttf") format('truetype');
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: #F6F4F0;
    overflow-x: hidden;
}

*::selection{
    background-color: #f3cc7e;
}

.container{
    margin: 0 auto;
    max-width: 1536px;
    padding: 0 20px;
    position: relative;
}

a{
    color: black;
    text-decoration: none;
}

p{
    text-align: justify;
}

hr{
    margin-top: 70px;
    margin-bottom: 50px;
}

img{
    border-radius: 10px;
}

.icon{
    width: 28px;
    margin-left: 10px;
}

.link-more{
    font-family: 'Tiro Telugu', 'Times New Roman', Times, serif;
    display: flex;
    align-items: center;
    padding: 6px 15px 4px 15px;
    width: fit-content;
    border-radius: 5px;
}

.link-more:hover{
    background-color: rgb(24, 24, 24);
    color: white;
}

.main-header{
    position: sticky;
    top: 0;
    background-color: #F6F4F0;
    z-index: 100;
}

.slider-wrapper{
    width: 100%;    
    position: relative;
    display: flex;
    scroll-behavior: smooth;
    overflow-x: auto;
}

.slider-wrapper::-webkit-scrollbar { 
    width: 0;
    height: 0;
}

.slider-wrapper .big-article{
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 100%;
}

.slider-control{
    display: flex;
    justify-content: center;
    gap: 20px;
}


.slider-control button{
    background: none !important;
    border: none;
    outline: none;
    cursor: pointer;
}

nav.navbar{
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgb(163, 163, 163);
    padding: 10px 20px;
    justify-content: space-between;
    position: relative;
    width: 100%;
}


nav.navbar .nav-content{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 200 !important;
}

nav.navbar h1, .title{
    font-family: 'Tiro Telugu', 'Times New Roman', Times, serif;
    margin-right: 30px;
}

.button{
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px 15px;
    border-radius: 50px;
    outline: none;
    cursor: pointer;
    font-size: 1.09rem;
    font-weight: bold;
    border: 1.5px solid transparent;
    transition: all .1s;
}

.button:hover{
    border: 1.5px solid black;
}

.button.sign{
    background-color: transparent;
}

.button.subscribe{
    background-color: black;
    color: white;
    transition: all .1s;
}

.button.subscribe:hover{
    background-color: transparent;
    color: black;
}

nav ul.nav-link{
    display: flex;
    list-style: none;
    justify-content: center;
}

.nav-link .nav-link-item{
    margin: 0 10px;
    font-family: 'Tiro Telugu', 'Times New Roman', Times, serif;
    position: relative;
}

.nav-link-item:hover{
    font-weight: bold;
}

.nav-link-item a::before{
    content: "";
    width: 0%;
    height: 3px;
    background-color: black;
    position: absolute;
    bottom: -2px;
    transition: width .3s;
}

.nav-link-item:hover a::before{
    width: 100%;
}

.nav-link-item:hover a:active:before{
    width: 100%;
}

main{
    margin-top: 50px;
}

.big-article{
    width: 100%;
    margin-top: 50px;
    scroll-margin-top: 100px;
}

.big-article figure img{
    width: 100%;
    height: 500px;
    object-fit: cover;
    object-position: 0 -50px;
}   

figure figcaption{
    display: none;
}

.big-article > h1{
    z-index: 2;
    position: absolute;
    background-color: wheat;
    padding: 10px 20px;
}

.big-article section{
    font-family: 'Tiro Telugu', 'Times New Roman', Times, serif;
    background-color: #F6F4F0;
    width: 90%;
    border-radius: 10px;
    margin: 0 auto;
    min-height: 200px;
    margin-top: -120px;
    position: relative;
    z-index: 2;
    padding: 30px;
}

.big-article section h1{
    font-size: 2.5rem;
    line-height: 3.5rem;
}

.big-article section p{
    font-size: 1.2rem;
}

.text-gray{
    font-size: 1.3rem;
    color: rgb(127, 127, 127);
    margin: 10px 0;
    font-family: 'Tiro Telugu', 'Times New Roman', Times, serif;
}

.read-more{
    color: rgb(0, 119, 255);
    cursor: pointer;
    font-size: 1.2rem;
}

.read-more:hover{
    text-decoration: underline;
}

.small-article{
    scroll-margin-top: 80px;

}

.small-article header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.small-article header > h1{
    font-size: 2.5rem;
    position: relative;
    width: fit-content;
    z-index: 3;
}

.small-article header > h1::before{
    content: "";
    position: absolute;
    height: 10px;
    width: 100%;
    background-color: #FFBB54;
    bottom: 5px;
    z-index: -1;
}

.small-article > article{
    display: flex;
    gap: 50px;
}

.small-article article figure, .small-article article section{
    flex: 1;
}

.small-article article figure img{
    width: 100%;
    height: 450px;
    object-fit: cover;
    object-position: top;
}

.small-article article section h1{
    font-size: 4rem;
}

.article-card-lists{
    margin-top: 30px;
    display: flex;
    gap: 20px;
    justify-content: space-evenly;
}

.article-card-lists .article-card{
    width: 400px;
}

.article-card-lists .article-card img{
    width: 100%;
    border-radius: 5px;
}

.article-card-lists .article-card .heading-link{
    display: block;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
    font-family: 'Tiro Telugu', 'Times New Roman', Times, serif;
}

.article-card-lists .article-card .heading-link:hover{
    text-decoration: underline;
}



/* Footer */
footer{
    font-family: 'Tiro Telugu', 'Times New Roman', Times, serif;
    padding: 30px 0;
    background-color: #f3cc7e;
    margin-top: 100px;
}

footer div.content{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

footer .subscribe-newsletter{
    display: flex;
    font-family: 'Tiro Telugu', 'Times New Roman', Times, serif;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}

footer .subscribe-newsletter label{
    font-weight: bold;
}

footer .subscribe-newsletter input{
    padding: 10px 10px;
    border-radius: 5px;
    border: none;
    outline: none;
    width: 300px;
    font-size: 1rem;
}

footer .copyrights{
    margin-top: 10px;
    text-align: center;
    width: 100%;
    display: inline-block;
}

footer .social-media{
    font-size: 1.2rem;
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

footer .social-media > div{
    display: flex;
    gap: 10px;
}


  
.hamberger-toggle label{
    display: flex;
    flex-direction: column;
    width: 40px;
    cursor:pointer;
}

.hamberger-toggle label span{
    background:  #f3cc7e;
    border-radius: 10px;
    height: 5px;
    margin: 3px 0;
    transition: .4s  cubic-bezier(0.68, -0.7, 0.30, 1.5);
}


.hamberger-toggle span:nth-of-type(1){
    width: 50%;
}

.hamberger-toggle span:nth-of-type(2){
    width: 100%;
}


.hamberger-toggle span:nth-of-type(3){
    width: 75%;
}


.hamberger-toggle input[type="checkbox"]{
    display: none;
}


.hamberger-toggle input[type="checkbox"]:checked ~ span:nth-of-type(1){
    transform-origin: bottom;
    transform: rotatez(45deg) translate(4px,0px)
}


.hamberger-toggle input[type="checkbox"]:checked ~ span:nth-of-type(2){
    transform-origin: top;
    transform: rotatez(-45deg)
}


.hamberger-toggle input[type="checkbox"]:checked ~ span:nth-of-type(3){
    transform-origin: bottom;
    width: 50%;
    transform: translate(17px, -5px) rotatez(45deg);
}
  

.profile{
    width: 100%;
    display: flex;
    gap: 20px;
    margin-top: 50px;
}

.profile figure, .profile aside{
    flex: 1 0;
}

.profile figure img{
    width: 100%;
    height: 500px;
    object-fit: cover;
}

.profile aside{
    font-family: 'Tiro Telugu', 'Times New Roman', Times, serif;
}

.profile aside h1{
    font-size: 2rem;
    text-align: center;
}

.profile aside p, aside a{
    font-size: 1.5rem;
    font-weight: 400;
}




@media only screen and (max-width: 768px) {

    nav.navbar .nav-content{
        background-color: #F6F4F0;
        display: flex;
        flex-direction: column;
        position: absolute;
        left: 100%;
        top: 50px;
        padding: 20px 10px;
        justify-content: start;
        align-items: flex-start;
        transition: left .2s;
        z-index: -2;
        border-bottom: 1px solid rgb(163, 163, 163);
    }

    .nav-content.open{
        left: 0% !important;
    }

    
    .nav-content ul.nav-link{
        flex-direction: column;
    }

    .nav-link li a{
        display: block;
        margin: 5px 0;
    }

    .auth{
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
    }

    .small-article header > h1{
        font-size: 1.5rem;
    }

    .small-article article figure img{
        height: 300px;
    }
    
    .small-article > article{
        flex-direction: column-reverse;
        gap: 5px;
    }

    .small-article article section h1{
        font-size: 2rem;
    }

    .text-gray{
        margin: 0;
        font-size: 1rem;
    }

    .big-article section{
        padding: 20px;
        width: 95%;
    }

    .article-card-lists{
        gap: 20px;
        flex-direction: column;
        justify-content: space-evenly;
    }
    
    .article-card-lists .article-card{
        width: 100%;
        height: 200px;
        display: flex;
    }
    
    .article-card-lists .article-card img{
        width: 180px;
        margin-right: 20px;
        object-fit: cover;
        border-radius: 5px;
    }

    
    .article-card-lists .article-card .heading-link{
        font-size: 1.2rem;
        font-weight: bold;
        width: 100%;
        cursor: pointer;
        font-family: 'Tiro Telugu', 'Times New Roman', Times, serif;
    }
    
    .article-card-lists .article-card .heading-link:hover{
        text-decoration: underline;
    }

    .profile{
        flex-direction: column;
    }
    .profile figure img{
        height: 300px;
    }

}

@media only screen and (min-width: 768px) {
    .hamberger-toggle{
        display: none;
    }
}